/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
/* Home section */
.home{
    height: 354px;
    padding: 3px 35px;
}
.home::before{
    height: 481px;
}
.home p{
    font-size: 20px;
}

/* service section */
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 15px;
    margin-bottom: 20px;
}
#services img{
    width: 120px;
    height: 60px;
}

/* clients section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    height: 50px;
    padding: 0px 6px;
}

/* contact us section */


/* footer */

/* utility classes */
.h1-primary{
    font-size: 25px;
}
.btn{
    font-size: 13px;
}